<div id="addRecipientsForm" class="ui form segment">
    <div class="two fields">
        <div class="field">
            <input id="username" name="username" placeholder="姓名" type="text">
        </div>
        <div class="field">
            <input id="email" name="email" placeholder="Email" type="text">
        </div>
    </div>
    <div class="ui blue submit button" ng-click="add()">创建</div>
    <div class="ui error message"></div>
</div>

<div id="addResult" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        添加用户{{result.status}}
    </div>
</div>

<div class="ui divider"></div>

<table ng-hide="recipients.length == 0" class="ui table segment">
    <thead>
    <tr>
        <th>序号</th>
        <th>姓名</th>
        <th>Email</th>
        <th>添加属性</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="recipient in recipients">
        <td>{{$index + 1}}</td>
        <td>{{recipient.username}}</td>
        <td>{{recipient.email}}</td>
        <td><i class="green add link icon" ng-click="addAttribute(recipient.id)"></i></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <th>结果数: {{recipients.length || 0}}</th>
    </tr>
    </tfoot>
</table>
